.section{
    color: white;
    position: relative;
    font-size: 30px;
    width: 100%;
    height: 100%;
    background-color: transparent;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  background-color: var(--light-grey);
  }


  
  .buttonBox{
      position: absolute;
     bottom: 20px;
     right: 20px;;
     animation: moveLeft 1s ease-in-out forwards;

  }
  
  .btn{
      background-color: transparent;
      border: 2px solid var(--white-pure);
      color: var(--white-pure);
      padding: 10px 20px;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      letter-spacing: 2px;
  }

  .btn:hover{
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .nameBox{
      position: absolute;
      bottom:20px;
      left:20px;
animation: moveDown 1s ease-in-out forwards;
    
  }

  @keyframes moveDown {
    0%{
      transform: translateY(-80%);
      opacity: 0;
    }
    100%{
      opacity:1;
      transform: translateY(0%);
    }
  }

  @keyframes moveLeft {
    0%{
      transform: translateX(80%);
      opacity: 0;
    }
    100%{
      opacity:1;
      transform: translateX(0%);
    }
  }

    
  .branName{
    margin: 0;
    font-size: 14px;
    font-weight: 200;
  }
  
  .name{
      margin: 0;
  }