.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--thin-grey);
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
}


.card:hover .shader{
    opacity: 1;
}




.shader{
    position: absolute;
    background-color: rgba(0,0,0,0.4);
  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
   opacity: 0;
   transition: all 0.3s ease-in-out;
   border-radius: 8px;
}

.linkBtn{
    background-color: var(--white-pure);
    padding: 5px 20px;
    width: 120px;
    height: 42px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    color: var(--light-grey);
    border: 1px solid var(--light-grey);
    border-radius: 8px;
   
}

.titleBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 4;
}

.title{
    margin:0;
    font-size: 24px;
    color: var(--dark-grey);
    background-color: var(--white-pure);
    color:var(--white-pure);
    background-color: transparent;
  
    box-sizing: border-box;

 
}

.parag{
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--medium-grey);
   
  

  
}

.imgBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    width: 100%;
    height: 100%;
    z-index: 3;
    border-radius: 8px;
}

.mobileImgBox{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    width: 100%;
    height: 100%;
    z-index: 3;
    border-radius: 8px;
}

.img{
    object-fit: cover;
    border-radius: 8px;
   
}

.priceBox{
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oldPrice, .newPrice{
    margin: 0;
}

.oldPriceBox{
    position: relative;
}

.oldPrice{
    color: var(--thin-grey);
}

.line{
    width: 120%;
    background-color: var(--thin-grey);
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.newPrice{
    background-color: var(--white-pure);
    padding: 5px 20px;
    box-sizing: border-box;
    
}

@media  (max-width:600px){
    .shader{
        display: none;
    }
    .title{
        margin:0;
        font-size: clamp(16px, 4.72vw + 0.12rem, 20px);
     
    
     
    }

    .imgBox{
        display: none;
    }

    .mobileImgBox{
        display: block;
    }
    
    .parag{
        margin: 0;
        margin-bottom: 10px;
        font-size: clamp(14px, 4vw + 0.12rem, 18px)
      
  
    }

    .oldPrice{
        font-size: clamp(14px, 4vw + 0.12rem, 18px)
       
    }
    .newPrice{
        font-size: clamp(16px, 4.72vw + 0.12rem, 20px);
        padding: 5px 10px;
    }

    .linkBtn{
        font-size: clamp(14px, 4vw + 0.12rem, 18px)
    }
}

@media (min-width:601px) and (max-width:1023px){
    .title{
       
        font-size: 14px;
    
    
     
    }
    
    .parag{
        margin: 0;
        margin-bottom: 5px;
        font-size: 12px;

    }

    .oldPrice{
        font-size: 10px;
    }
    .newPrice{
        font-size: 12px;
        padding: 5px 10px;
    }

    .linkBtn{
        padding: 3px 5px;
  
        text-align: center;
        width: 50%;
        height: fit-content;
          
        font-size: clamp(12px, 1.67vw + 0.12rem, 16px);
    }
}