.section{
   display: flex;
   flex-direction: column;
    border-radius: 8px;
    width: 90%;
    height: fit-content;
    box-sizing: border-box;
    padding: 10px 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    gap: 10px;
}

.title{
   
    margin: 0;
    color: var(--dark-grey);
}



.box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: var(--light-grey);
    font-size: 16px;

}

.label{

    margin:  0;
}

.discountParag{
    color: var(--light-grey);
  
    margin: 0;
}

.totalBox{
    font-size: 18px;color: var(--dark-grey  );
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    border-top: 2px solid var(--thin-grey);
    padding-top: 10px;
}

@media (max-width:600px){
    .section{
        border: none;
        width: 100%;
        padding: 10px 0px;
        box-shadow: none;
    }
    .title{
     
        margin: 0;
        margin-bottom: 10px;
        color: var(--dark-grey);
        text-align: center;
    }
    
.box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: var(--light-grey);
    font-size: 16px;
}

.discountParag{
    color: var(--light-grey);
   
    margin: 0;
}

.label{
  
    margin:  0;
}

.totalBox{
    font-size: clamp(12px, 3.58vw + 0.12rem, 16px);
    color: var(--dark-grey  );
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    border-top: 2px solid var(--thin-grey);
}
}

@media (min-width:601px) and (max-width:1023px){
    .section{
        border: 2px solid var(--thin-grey);
        border-radius: 8px;
        width: 100%;
        height: fit-content;
        box-sizing: border-box;
        padding: clamp(10px, 1.67vw + 0.12rem, 15px);
        gap: 5px;
    }
    
    .title{
       
        margin: 0;
        color: var(--dark-grey);
    }
    
    .box{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        color: var(--light-grey);
        font-size: clamp(12px, 1.67vw + 0.12rem, 16px);
    }

    .label{
     
        margin:  0;
    }
    
    .discountParag{
        color: var(--light-grey);
      
        margin:  0;
    }
    
    .totalBox{
        font-size: clamp(14px, 2vw + 0.12rem, 18px);
        color: var(--dark-grey);
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-weight: bold;
        border-top: 2px solid var(--thin-grey);
    }
}