.galleryBox{
    height: 100%;
    width: 100%;
 justify-content: space-between;
    display: flex;
    overflow: hidden;

}

.oneImageGalleryBox{
    justify-content: center;
}


.mainImageBox{
    height: 100%;
    width: 75%;
    position: relative;
    border-radius: 8px;
    animation: moveDown 1s ease-in-out forwards;
    background-color: var(--thin-grey);
}
@keyframes moveDown {
    0%{
      transform: translateY(-80%);
      opacity: 0;
    }
    100%{
      opacity:1;
      transform: translateY(0%);
    }
  }

.oneImageMainImageBox{
    transform: translateX(15%);

}

.mainImg{
    border-radius: 8px;
    object-fit: cover;
    cursor: zoom-in;
    opacity: 0;
}

.showImg{
    animation: showImgAfterLoad 0.3s ease-in-out forwards;
 }
 
 @keyframes showImgAfterLoad {
     0%{
         opacity: 0;
     } 100%{
         opacity: 1;
     }
 }

.discountTag{
    position: absolute;
    right: 0;
    top: 10px;
    background-color: #ff6000;;
    color: var(--white-pure);
    padding: 5px 20px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 16px;

}

.shader{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 101;
    background-color: rgba(0,0,0,0.95);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 101;
   
}

.fullImageLoadingDiv{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 20px;
}

.fullScreenLoadingIcon{
    width: 50px;
    height: 50px;
    color: lightgray;
    opacity: 0.25;
}

.fullscreenImgBox{
    position: relative;
    width: 500px;
    height: 500px;
}

.fullscreenImg{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.closeIcon{
    position: absolute;
    top: 2%;
    right: 2%;
    width: 16px;
    height: 16px;
    cursor: pointer;
}


.zoomIcon{
    position: absolute;
   margin: 10px;
    z-index: 3;
    color: var(--white-pure);
    opacity: 0.7;
  
    cursor: pointer;
    display: none;
}

.navBox{
    position: absolute;
    top: 50%;
    left: 50%;
     transform: translate(-50%, -50%);
  width: 120%;
    display: flex;
    
    justify-content: space-between;
}

.navIcon{
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: var(--white-pure);
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

.navIcon:hover{
    opacity: 1;
}

.navParag{
    display: none;
}


.galleryCount{
    position: absolute;
    bottom: -8%;
    transform: translateX(-50%);
    left: 50%;
    color: var(--white-pure);
    letter-spacing: 4px;
    font-size: 14px;
}

.mobileGalleryCount{
      
   display: none;
}

@media (max-width:600px){
    .galleryBox{
        flex-direction: column;
   
       height: clamp(300px, 106.43vw + 0.12rem, 600px);
     
       
     
    }

    .oneImageGalleryBox{
        height: clamp(240px, 85vw + 0.12rem , 480px);
    }
    .mainImageBox{
        width:100%;
        order: 1;
        height: 80%;
        border-radius: 0;
    }

    .oneImageMainImageBox{
        height: 100%;
        transform: translateX(0%);
    }

    .mainImg{
        border-radius: 0;
    }
   

    .shader{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 101;
            background-color: rgba(0,0,0,0.95);
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    
    .fullscreenImgBox{
        position: relative;
        width: 90vw;
        height: 90vw;
    }
    
   
    .closeIcon{
        position: absolute;
        top: 3%;
    right: 3%;
        cursor: pointer;
        width: clamp(18px, 5.72vw + 0.12rem, 22px);
        height:clamp(18px, 5.72vw + 0.12rem, 22px);
    }

    .zoomIcon{
        position: absolute;
       margin: 0;
        z-index: 3;
        color: var(--dark-grey);
        opacity: 0.5;
        top: 3%;
        left: 3%;
        cursor: pointer;
        display: block;
       
        width: clamp(18px, 5.72vw + 0.12rem, 24px);
  
        height: clamp(18px, 5.72vw + 0.12rem, 24px);
    }
    .discountTag{
        position: absolute;
        right: 0;
        top: 0px;
        background-color: #ff6000;
        color: var(--white-pure);
        padding: 5px clamp(10px, 2.86vw + 0.12rem, 20px);
        box-sizing: border-box;
        font-weight: bold;
        font-size: clamp(12px, 3.58vw + 0.12rem, 16px);
    
    }

    .navBox{
        position: absolute;
        top: unset;
        bottom: -20%;
        left: 50%;
         transform: translate(-50%, -50%);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    
    .navIcon{
        width: 30px;
        height: 30px;
        cursor: pointer;
        color: var(--white-pure);
        opacity: 0.7;
        display: none;
    }

    .mobileNavIcon{
        width: clamp(20px, 4.65vw + 0.12rem , 24px);
        height: clamp(20px, 4.65vw + 0.12rem , 24px);
    }

    .navParag{
        display: block;
        margin: 0;
        background-color: rgba(255, 255, 255, 0.5);
        color: var(--white-pure);
        padding: 5px 10px;
        border-radius: 8px;
        box-sizing: border-box;
        display: flex;
        gap: 5px;
        align-items: center;
        font-size: clamp(14px, 4vw + 0.12rem, 18px);
    }
    .galleryCount{
     
        display: none;
    }

    .mobileGalleryCount{
        display: block;
        color: var(--white-pure);
        letter-spacing: 4px;
        font-size: 14px;
    }
    
}

@media (min-width:601px) and (max-width:1023px){
    .galleryBox{
       flex-direction: column;
       justify-content: flex-start;
       gap: 10px;
      
    } 

    .oneImageGalleryBox{
        height: 100%;
    }

    

    .mainImageBox{
        order: 1;
        width: 100%;
        height: 75%; 
       
    }

  

    .oneImageMainImageBox{
        height: 100%;
        transform: translateX(0%);
    }

   

    .smallImg{
        border-radius: 0;
    }
    .discountTag{
        position: absolute;
        right: 0;
        top: 10px;
        background-color: #ff6000;
        color: var(--white-pure);
        padding: 5px 10px;
        box-sizing: border-box;
        font-weight: bold;
        font-size: 12px;
    
    }
 
    
    .fullscreenImgBox{
        position: relative;
        width: 60vw;
        height: 60vw;
    }
    
    .fullscreenImg{
        object-fit: cover;
    }
    
    .closeIcon{
        position: absolute;
        top: 2%;
        right: 2%;
        cursor: pointer;
    }
    .zoomIcon{
        position: absolute;
       margin: 0;
        z-index: 3;
        color: var(--dark-grey);
        opacity: 0.5;
        top: 3%;
        left: 3%;
        cursor: pointer;
        display: block;
        width: 14px;
        width: clamp(14px, 2vw + 0.12rem, 18px);
        height: clamp(14px, 2vw + 0.12rem, 18px);
       
    }
}

@media (hover:none) and (pointer:coarse){
    .navBox{
        display: none;
    }
}