.itemPage{
    display: flex;
    flex-direction: column;
    width: 100%;
  padding: 0 5%;
    min-height: calc(100vh - 100px);
    height: fit-content;
    align-items: center;
    box-sizing: border-box;
}


.backBtnBox{
    display: flex;
    align-items: center;
 
   margin: 20px 0;
   margin-right: auto;
}



.backBtn{
    color: var(--light-grey);
    font-size: 16px;
    font-weight: 400;
}

.backBtn:hover{
    color: var(--medium-grey);
}

.icon{
    color: var(--light-grey);
    margin-right: 5px;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
}

@media (max-width:600px){
    .backBtnBox{
    
     
       margin: 10px 0;

    }
    .backBtn{
        font-size: clamp(12px, 3.58vw + 0,.12rem, 16px);
    }
}

@media (min:601px) and (max-width:1023px){
    .backBtn{
        font-size: 14px;
    }
}