

.smallImagesBox{
    height:100%;
    width: 20%;
    gap: 20px;
display: flex;
flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    animation: moveUp 1s ease-in-out forwards;
}

@keyframes moveUp {
    0%{
      transform: translateY(80%);
      opacity: 0;
    }
    100%{
      opacity:1;
      transform: translateY(0%);
    }
  }

.smallImagesBox::-webkit-scrollbar {
    display: none;
}

.smallImgBox{
    width: 100%;
    height: fit-content;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--thin-grey);
}

.smallImg{
    border-radius: 8px;
    width: 100%;
    min-height: auto;
    height: auto;
}





.showImg{
    animation: showImgAfterLoad 0.3s ease-in-out forwards;
 }
 
 @keyframes showImgAfterLoad {
     0%{
         opacity: 0;
     } 100%{
         opacity: 1;
     }
 }









@media (max-width:600px){

  
    .smallImagesBox{
        order: 2;
        flex-direction: row;
        width: 100%;
       height: 5px;
       overflow-x: scroll;
       gap: 0;
       background-color: white;
       animation: moveRight 1s ease-in-out forwards;
    }

    @keyframes moveRight {
        0%{
            transform: translateX(-80%);
            opacity: 0;
        }
        100%{
            opacity:1;
            transform: translateX(0%);
        }
    }

    .smallImgBox{
        min-width: unset;
        max-width: unset;
        width: 20%;
        height: 100%;
        border-radius: 0;
        background-color: var(--thin-grey);
    }

    .smallImgBox.active{
        background-color: var(--light-grey);
    }

    .smallImg{
        border-radius: 0;
        display: none;
    }
  
   



    
   

    
}

@media (min-width:601px) and (max-width:1023px){
  

    .smallImagesBox{
        order: 2;
        flex-direction: row;
        width: 100%;
        height: 5px;
        gap: 5px;
        overflow-x: scroll;
        
        animation:  moveRight 1s ease-in-out forwards;
    }

    @keyframes moveRight {
        0%{
            transform: translateX(-80%);
            opacity: 0;
        }
        100%{
            opacity:1;
            transform: translateX(0%);
        }
    }

    .smallImgBox{
        min-width: unset;
       
        width: auto;
        height: 100%;
        border-radius: 8px;
    }

    .smallImgBox.active{
        background-color: var(--light-grey);
    }

    .smallImg{
        border-radius: 0;
        display: none;
    }
 
  
 
}

