.card{
    width: 200px;
   
    height: 230px;

    margin: 10px auto;

}

.mobileCard{
    width: 200px;
   
    height: 230px;
display: none;
    margin: 10px auto;
}



.imageBox{
    position: relative;
    width: 100%;
    height:    75%;
    background-color: var(--thin-grey);
    display: flex;
    align-items: center;
    justify-content: center;
}

.image{
    opacity: 0;
}

.showImg{
    animation: showImgAfterLoad 0.3s ease-in-out forwards;
 }
 
 @keyframes showImgAfterLoad {
     0%{
         opacity: 0;
     } 100%{
         opacity: 1;
     }
 }

.xDelete{
    display: none;
}
.discountTag{
    position: absolute;
    color: var(--white-pure);
    background-color: var(--dark-grey);
    background-color: #ff6000;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    padding: 5px 10px ;
    top: 10px;
    right: 0;
    border-radius: 5px 0 0 5px;
}

.imageBox:hover .shade{
    display: flex;
}

.shade{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
    background-color: rgba(255, 255, 255,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    display: none;
}

.button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    animation: bounceIn 1s ease-in-out forwards;
   
}

@keyframes bounceIn {
    0% {
      opacity: 0;
      transform: scale(0.3);
    }
    50% {
      opacity: 1;
      transform: scale(1.05);
    }
    70% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }


.shopBtn{
    color: var(--dark-grey);
    background-color: var(--white-pure);
   
}

.deleteBtn{
    background-color: var(--dark-grey);
    color: var(--white-pure);
}



.icon{
    width: 20px;
    height: 20px;
}


.textBox{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.name, .product, .price, .discountedPrice, .gender{
    margin: 0;
}


.product{
    color: var(--dark-grey);
  
    font-size: clamp(14px, 1.18vw + 0.12rem, 16px);
}

.product{
    width: 65%;
   
}



.name{
    font-size: clamp(12px, 1vw + 0.113rem, 16px);
    color: var(--light-grey);
    font-style: italic;
    font-weight: 400;
  
    width: 65%;
}

.gender{
    width: 30%;
    text-align: end;
    color: var(--light-grey);
    font-size: clamp(12px, 1vw + 0.113rem, 16px);;
    font-weight: 400;
    margin-left: auto;
}



.starBox{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 33%;
  margin-left: auto;
   position: relative;
}

.emptyStarBox{
    position: absolute;
    display: flex;
 
}

.fullStarBox{
    position: absolute;
    display: flex;
    justify-content: flex-start;
  
    
}

.star, .emptyStar{
    width: clamp(12px, 1vw + 0.113rem, 14px);
    height: clamp(12px, 1vw + 0.113rem, 14px);
    color: var(--dark-grey);
}

.emptyStar{
    color: var(--thin-grey);
}

.priceBox{
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.discountedPrice{
    font-size: clamp(12px, 1vw + 0.113rem, 16px);
    
    color: #ff6000;
}

.price{
    margin-left: auto;
    font-size: clamp(12px, 1vw + 0.113rem, 16px);
    
}

.linethrough{
    text-decoration: line-through;
    opacity: 0.75;
    color: var(--light-grey);
    font-weight: 400;
    margin-right: auto;
    margin-left: unset;
}

@media (max-width:600px){
    .card{
        width: 170px;
        width: 90%;
        height: 200px;
      
        height: clamp(150px, 52.86vw + 0.12rem, 280px);
        margin:  10px auto;
        display: none;
   
       
    }

    .mobileCard{
        width: 170px;
        width: 90%;
      
     
        height: clamp(150px, 52.86vw + 0.12rem, 280px);
        margin:  10px auto;
        display: block;
    }

   

    

  
    .imageBox{
        position: relative;
        width: 100%;
        height: 75%;
    }

    .xDelete{
        display: block;
        position: absolute;
        top: 5%;
        left: 5%;
        color: var(--light-grey);
        background-color: var(--thin-grey);
        padding: 5px;
        border-radius: 50%;
        width: clamp(10px, 2.86vw + 0.12rem, 18px);
        height: clamp(10px, 2.86vw + 0.12rem, 18px);
    }

    .image{
        object-fit: cover;
    }
      


    .discountTag{
        position: absolute;
        color: var(--white-pure);
        background-color: var(--dark-grey);
        background-color: #ff6000;
        margin: 0;
        box-sizing: border-box;
        font-size: clamp(10px, 2.86vw + 0.12rem, 18px);
        padding: 3px 8px ;
        top: 10px;
        right: 0;
        border-radius: 5px 0 0 5px;
    }
    .product{
        color: var(--dark-grey);
        font-size: 10px;
        font-size: clamp(10px, 2.86vw + 0.12rem, 16px);
        width: fit-content;
    }


.textBox{
    max-width: unset;
}

    .name, .price, .discountedPrice, .gender{
       
        font-size: clamp(8px, 2.15vw + 0.12rem, 16px);
       
    }

    

    .star, .emptyStar{
        width: clamp(8px, 2.15vw + 0.12rem, 16px);
        height: clamp(8px, 2.15vw + 0.12rem, 16px);
    }

    .emptyStar{
        color: var(--thin-grey);
    }


.button{
    width: clamp(30px, 10vw + 0.12rem, 50px);
    height: clamp(30px, 10vw + 0.12rem, 50px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.icon{
    width: clamp(14px, 4vw + 0.12rem, 18px);
    height: clamp(14px, 4vw + 0.12rem, 18px);
}


}

@media (min-width:601px) and (max-width:1023px){
    .card{
        width: 120px;
      
        height: 150px;
    display: none;
    
    }

    .mobileCard{
        width: 120px;
      
        height: 150px;
        display: block;
    }
    
    .card:hover .shade{
        display: flex;
    }
    
    .imageBox{
        position: relative;
        width: 100%;
        height:    75%;
    }

    .textBox{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
     
    }

    .discountTag{
      
        font-size: clamp(8px, 1vw + 0.12rem, 12px);
    }
        
.product{
    color: var(--dark-grey);
    font-size: 8px;
    font-size: clamp(8px, 1vw + 0.12rem, 12px);
 
}

.product{
  
    width: fit-content;
}

.price{
    width: fit-content;
    text-align: end;
    font-size: clamp(8px, 1vw + 0.12rem, 12px);
}
.name{
    font-size: clamp(8px, 1vw + 0.12rem, 12px);
  
    color: var(--light-grey);
    font-style: italic;
    font-weight: 400;
   
    width: 65%;
}

.gender, .discountedPrice{
    font-size: clamp(8px, 1vw + 0.12rem, 12px);
}

.star, .emptyStar{
    width: clamp(8px, 1vw + 0.12rem, 12px);
   
    height: clamp(8px, 1vw + 0.12rem, 12px);
  
    
}

.shade{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    display: none;
}

.button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.icon{
    width: 16px;
    height: 16px;
}


}