.section{
    margin: 0;
    width: 100%;
    height: fit-content;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;

}

.title{
    margin: 0;
    color:var(--dark-grey);
    color: #d90429;
}
.parag{
    margin: 10px 0 ;
    color: var(--light-grey);
    color: #d90429;
}

.itemList{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.deletedCard{
    display: flex;
    align-items: center;
}

.xIcon{
    color: #d90429;
    width: 16px;
    height: 16px;
   margin-right: 10px;

}

.imgBox{
    min-width: 60px;
    min-height: 60px;
    position: relative;
    border-radius: 12px;
}

.img{
    border-radius: 12px;
    opacity: 80%;
}

.textBox{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.header{
    display: flex;
    gap: 5px;
}

.cardTitle, .cardName, .size{
    margin: 0;
}

.cardTitle, .cardName{
 font-size: 16px;
 color:#d90429;
}

.cardName{
    font-weight: 400;
    font-style: italic;
}
.size{
    font-size: 14px;
    color: var(--light-grey);
}

@media (max-width:600px){
  .section{
    padding: 10px;
    margin: 20px 0;
    margin-bottom: 0;
   
  }

  .title{
    text-align: center;
  }
  .parag{
    margin: 10px 0;
  }

  .xIcon{
  width: 12px;
  height: 12px;
  }

  .imgBox{
    min-width: clamp(35px, 11.8vw + 0.12rem, 50px);
    min-height: clamp(35px, 11.8vw + 0.12rem, 50px);
  }
  .header{
    flex-wrap: wrap;
    gap: 0px;
}

.cardTitle, .cardName{
    font-size: clamp(12px, 3.58vw + 0.12rem, 14px);
}

.size{
    font-size: clamp(12px, 3.58vw + 0.12rem, 14px);
}
  
}

@media (min-width:601px) and (max-width:1023px){
    .section{
        padding: 10px;
        align-items: flex-start;
 
      
    }
    .xIcon{
       
        display: none;
    
    }

    .imgBox{
        min-width: clamp(35px, 5.5vw + 0.12rem, 50px);
     
        min-height: clamp(35px, 5.5vw + 0.12rem, 50px);
    }

    .header{
        flex-direction: column;
        gap: 0px;
    }

    .cardTitle, .cardName{
 
        font-size: clamp(12px, 1.67vw + 0.12rem, 14px);
    }

    .size{
        font-size: clamp(12px, 1.67vw + 0.12rem, 14px);
    }
}

