.tag{
    background-color: var(--dark-grey);
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    gap: 10px;
}

.filterName{
    color: var(--white-pure);
   
    font-size: clamp(14px, 1.18vw + 0.12rem, 16px);
    font-weight: 400;
}

.icon{
    width:  clamp(14px, 1.18vw + 0.12rem, 16px);
    height: clamp(14px, 1.18vw + 0.12rem, 16px);
    color: var(--white-pure);
    cursor: pointer;
    transition: all 0.3s ease-out;
    filter: brightness(70%);
}

.icon:hover{
    filter: brightness(100%);
}

.ratingIcon{
    width: clamp(14px, 1.18vw + 0.12rem, 16px);
    height:  clamp(14px, 1.18vw + 0.12rem, 16px);
   margin: 0 2.5px;
}