.section{
    width: 100%;
    height: fit-content;
    position: relative;
}

.customSelect{
    width: 100%;
    border: 1px solid var(--light-grey);
    border-radius: 20px;
    padding: 10px 20px;
    box-sizing: border-box;
    color: var(--light-grey);
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.customSelect.active{
    border: 2px solid var(--medium-grey);
}

.selectTitle{
    margin: 0;
    font-size: 16px;
    font-size: clamp(14px, 1.18vw + 0.12rem, 16px);
    font-weight: 400;
    
}

.icon{
    margin-left: auto;
}

.optionsBox{
    width:100%;
    height: fit-content;
    background-color: var(--white-pure);
    border: 1px solid var(--light-grey);
    position: absolute;
    z-index: 2;
    display: grid;
    grid-template-rows: auto;
    border-radius: 20px;
    box-sizing: border-box;
    
    
}

.rightOptionsPosition{
    right: -100%;
    transform: translateX(10px);
    top: 0;
   
}

.leftOptionsPosition{
    left: -100%;
    transform: translateX(-10px);
    top: 0;
   
}

.bottomOptionsPosition{
    top: 100%;
    left: 0;
    transform: translateY(10px);
}

.selectOptionBox{
    width: 100%;
    height: fit-content;

    box-sizing: border-box;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.selectOptionBox:nth-of-type(1){
    border-radius:20px 20px 0 0 ;
}

.selectOptionBox:last-of-type{
    border-radius: 0 0 20px 20px;
}

.selectOptionBox:hover{
    background-color: var(--thin-grey);
}

.selectOptionBox.active{
    background-color: var(--light-grey);
    color: var(--white-pure);
}



.option{
    margin: 0;
    padding: 10px 20px;
    width: 100%;
    font-size: clamp(14px, 1.18vw + 0.12rem, 16px);
    color: var(--light-grey);
    transition: all 0.3s ease-out;

}





.option.active{
    
    color: var(--white-pure);
}



.icon{
    width: 16px;
    height: 16px;
}

@media (max-width:600px){
    .selectTitle{
        font-size: clamp(16px, 4.72vw + 0.12rem, 20px)
    }
    .icon{  
        width: clamp(16px, 4.72vw + 0.12rem, 20px);
        height: clamp(16px, 4.72vw + 0.12rem, 20px);
    }
    .option{
        font-size: clamp(16px, 4.72vw + 0.12rem, 20px)
    }
}

@media (min-width:601px) and (max-width:1023px){
    .selectTitle{
        font-size: 14px;
    }
    .icon{  
        width:14px;
        height: 14px
    }
    .option{
        font-size: 14px
    }
}





