.title{
    margin: 0;
    width: 55%;
    padding-bottom: 10px;
    color: var(--dark-grey);
    border-bottom: 2px solid var(--thin-grey);
}

.container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: fit-content;
    align-items: stretch;
  margin-bottom: 50px;
  
}

.provideInfoSection{

 width: 55%;
 margin: 20px 0;
 

}

.shippingSection{
    width: 100%;
    display: flex;
    flex-direction: column;
 
   margin-bottom: 20px;
   }

   .shippingTitle{
    
    margin: 0;
    color: var(--dark-grey);
   }

   .inputsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    
   }

    .input{
    
     width: 100%;
    }

.paymentMethodBox{
    width: 100%;
}

.paymentTitle{
    margin: 0;
 
    margin: 0;
    color: var(--dark-grey);
}

.paymentParag{
    color: var(--dark-grey);
    margin:10px 0;

}
.termsBox{
    display: flex;
    align-items: baseline;
    gap:5px;
}

.termsParag{
    color:var(--light-grey);
    font-size: 14px;
    margin: 0;
}

.mobileSmallCartRecap{
    display: none;
    width: 100%;
}

.mobileCartSummary{
    display: none;
    width: 100%;
}

.desktopSmallCartRecap{
    width: 90%;
}

.desktopCartSummary{
    width: 100%;
    display: flex;
   justify-content: flex-end;
 
  
}

.recapSection{
  
    width: 40%;
    margin: 20px 0;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
   
}

.completeBtn{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
}

@media (max-width:600px){
        .title{
        margin: 0;
        width: 100%;
        padding-bottom: 10px;
        color: var(--dark-grey);
        border-bottom: 2px solid var(--thin-grey);
        font-size: clamp(16px, 4.72vw + 0.12rem, 18px);
        }
        
        .container{
        display: flex;
        width: 100%;
        flex-direction: column;
        }

        .provideInfoSection{
       
        width: 100%;
        margin: 20px 0;
        height: fit-content;
        min-height: fit-content;
       }

     

       .mobileSmallCartRecap{
        display: block;
        width: 100%;
    }

    .mobileCartSummary{
        display: block;
        width: 100%;
        margin: 20px 0;
    }
    
    .desktopSmallCartRecap{
        display: none;
    }
    .desktopCartSummary{
     display: none;
      
    }

    
.shippingSection{
    width: 100%;
    display: flex;
    flex-direction: column;
 
   margin: 20px 0;
   }

   .shippingTitle{
   
    margin: 0;
    color: var(--dark-grey);
    text-align: center;
   }

   .inputsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    
   }

    .input{
    
     width: 100%;
    }

    .paymentMethodBox{
        width: 100%;
        margin: 20px 0;
    }
    
    .paymentTitle{
        margin: 0;
      
        margin: 0;
        color: var(--dark-grey);
        text-align: center;
    }
    
    .paymentParag{
        color: var(--dark-grey);
    
    }
    .termsBox{
        display: flex;
        align-items: baseline;
        gap:5px;
    }
    
    .termsParag{
        color:var(--light-grey);
        font-size: clamp(10px, 2.86vw + 0.12rem, 14px);
        margin: 0;
    }
    

       .recapSection{
    
        width: 100%;
        margin: 20px 0;
        height: fit-content;
        min-height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
        display: none;
    }
    .completeBtn{
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-out;
    }
}

@media (min-width:601px) and (max-width:1023px){
    .termsParag{
        color:var(--light-grey);
        font-size: clamp(10px, 1.34vw + 0.12rem, 14px);
        margin: 0;
    }
    .desktopSmallCartRecap{
        width: 100%;
    }

    
}