.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;


}

.imgBox{
    position: relative;
    height: 250px;
    width: 100%;
    background-color: var(--thin-grey);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobileImgBox{
    display: none;
    position: relative;
    height: 250px;
    width: 100%;
    border-radius: 8px;
}

.imgBox:hover .shader{
    display: flex;
}

.img{
    object-fit: cover;;
    opacity: 0;
}

.showImg{
   animation: showImgAfterLoad 0.3s ease-in-out forwards;
}

@keyframes showImgAfterLoad {
    0%{
        opacity: 0;
    } 100%{
        opacity: 1;
    }
}

.loaderBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    animation: shine 1s ease-in-out infinite;
}

.loaderIcon{
    color: var(--light-grey);
    width: 40px;
    height: 40px;
}

.loaderText{
    color: var(--light-grey);
    font-size: 14px;
 
}

@keyframes shine {
    0%{
        opacity: 1;
    }50%{
        opacity: 0.3;
    }100%{
        opacity: 1;
    }
}
    


.discountTag{
    position: absolute;
    color: var(--white-pure);
    background-color: var(--dark-grey);
    background-color: #ff6000;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    padding: 5px 10px ;
    top: 10px;
    right: 0;
    border-radius: 5px 0 0 5px;
}


.shader{
    background-color: rgba(0,0,0,0.4);
    background-color: rgba(255, 255, 255,0.4);
    width: 100%;
    height: 100%;
   position: absolute;
   top:0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   display: none;
   transition: all 0.3s ease-in-out;
   border-radius: 8px;
   animation: shaderAppears 0.5s ease-in-out forwards;
   z-index: 3;
}

@keyframes shaderAppears {
    0%{
        opacity: 0;
    } 100%{
        opacity: 1;
    }
}

.shopLink{
    color: var(--white-pure);
    background-color: var(--dark-grey);
   width: 120px;
   height: 42px;
   display: flex;
   align-items: center;
   justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    padding: 5px 20px;
    box-sizing: border-box;
    font-size: 16px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.textBox{
    display: flex;
    width: 100%;
    max-width: 250px;
    flex-wrap: wrap;
    justify-content: space-between;
 
}

.name, .product, .price, .discountedPrice, .gender{
    margin: 0;
}


.product{
    color: var(--dark-grey);
  
    font-size: clamp(14px, 1.18vw + 0.12rem, 16px);
}

.product{
    width: 65%;
   
}



.name{
    font-size: clamp(12px, 1vw + 0.113rem, 16px);
    color: var(--light-grey);
    font-style: italic;
    font-weight: 400;
  
    width: 65%;
}

.gender{
    width: 30%;
    text-align: end;
    color: var(--light-grey);
    font-size: clamp(12px, 1vw + 0.113rem, 16px);;
    font-weight: 400;
    margin-left: auto;
}



.starBox{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 33%;
  
   position: relative;
}

.emptyStarBox{
    position: absolute;
    display: flex;
 
}

.fullStarBox{
    position: absolute;
    display: flex;
    justify-content: flex-start;
  
    
}

.star, .emptyStar{
    width: clamp(12px, 1vw + 0.113rem, 14px);
    height: clamp(12px, 1vw + 0.113rem, 14px);
    color: var(--dark-grey);
}

.emptyStar{
    color: var(--thin-grey);
}

.priceBox{
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.discountedPrice{
    font-size: clamp(12px, 1vw + 0.113rem, 16px);
    
    color: #ff6000;
}

.price{
    margin-left: auto;
    font-size: clamp(12px, 1vw + 0.113rem, 16px);
    
}

.linethrough{
    text-decoration: line-through;
    opacity: 0.75;
    color: var(--light-grey);
    font-weight: 400;
    margin-right: auto;
    margin-left: unset;
}

@media (max-width:600px){

    .imgBox{
        position: relative;
        height: clamp(140px, 49.29vw + 0.12rem, 260px);
      height: clamp(100px, 35vw + 0.12rem, 250px);
        width: 100%;
        display: none;
        cursor: pointer;
    }

    .mobileImgBox{
        position: relative;
        height: clamp(140px, 49.29vw + 0.12rem, 260px);
      height: clamp(120px, 42.15vw + 0.12rem, 250px);
      background-color: var(--thin-grey);
        width: 100%;
        display: block;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

   
.mobileLoaderBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    animation: shine 1s ease-in-out infinite;
    gap: 10px;
}

.mobileLoaderIcon{
    color: var(--light-grey);
    width: clamp(20px, 6.45vw + 0.12rem, 30px);
    height: clamp(20px, 6.45vw + 0.12rem, 30px);
}

.mobileLoaderText{
    color: var(--light-grey);
    font-size: clamp(10px, 2.86vw + 0.12rem, 16px);
 margin: 0;
}

@keyframes shine {
    0%{
        opacity: 1;
    }50%{
        opacity: 0.3;
    }100%{
        opacity: 1;
    }
}

    .imgBox:hover .shader{
        display: none;
    }

    .discountTag{
        position: absolute;
        color: var(--white-pure);
        background-color: var(--dark-grey);
        background-color: #ff6000;
        margin: 0;
        box-sizing: border-box;
        font-size: clamp(10px, 2.86vw + 0.12rem, 18px);
        padding: 3px 8px ;
        top: 10px;
        right: 0;
        border-radius: 5px 0 0 5px;
    }
    .product{
        color: var(--dark-grey);
        font-size: 10px;
        font-size: clamp(10px, 2.86vw + 0.12rem, 16px);
        width: fit-content;
    }


.textBox{
    max-width: unset;
}

    .name, .price, .discountedPrice, .gender{
       
        font-size: clamp(8px, 2.15vw + 0.12rem, 16px);
       
    }

    

    .star, .emptyStar{
        width: clamp(8px, 2.15vw + 0.12rem, 16px);
        height: clamp(8px, 2.15vw + 0.12rem, 16px);
    }

    .emptyStar{
        color: var(--thin-grey);
    }

    .shopLink{
        font-size: clamp(12px, 3.58vw + 0.12rem, 16px);
        padding: 5px 10px;
        width: 70%;
        height:fit-content;
    }
}

@media (min-width:601px) and (max-width:1023px){
    .imgBox{
        position: relative;
        height: 150px;
        width: 100%;
        display: none;
        cursor: pointer;
    }

    .mobileImgBox{
        position: relative;
        height: 150px;
        width: 100%;
        display: block;
        cursor: pointer;
        background-color: var(--thin-grey);
    }

    .imgBox:hover .shader{
        display: none;
    }

    .mobileLoaderBox{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
        animation: shine 1s ease-in-out infinite;
        gap: 10px;
    }
    
    .mobileLoaderIcon{
        color: var(--light-grey);
        width: clamp(20px, 6.45vw + 0.12rem, 30px);
        height: clamp(20px, 6.45vw + 0.12rem, 30px);
    }
    
    .mobileLoaderText{
        color: var(--light-grey);
        font-size: clamp(10px, 2.86vw + 0.12rem, 16px);
     margin: 0;
    }
    
    @keyframes shine {
        0%{
            opacity: 1;
        }50%{
            opacity: 0.3;
        }100%{
            opacity: 1;
        }
    }

    .textBox{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
     
    }

    .discountTag{
      
        font-size: clamp(8px, 1vw + 0.12rem, 12px);
    }
        
.product{
    color: var(--dark-grey);
    font-size: 8px;
    font-size: clamp(8px, 1vw + 0.12rem, 12px);
 
}

.product{
  
    width: fit-content;
}

.price{
    width: fit-content;
    text-align: end;
    font-size: clamp(8px, 1vw + 0.12rem, 12px);
}
.name{
    font-size: clamp(8px, 1vw + 0.12rem, 12px);
  
    color: var(--light-grey);
    font-style: italic;
    font-weight: 400;
   
    width: 65%;
}

.gender, .discountedPrice{
    font-size: clamp(8px, 1vw + 0.12rem, 12px);
}

.star, .emptyStar{
    width: clamp(8px, 1vw + 0.12rem, 12px);
   
    height: clamp(8px, 1vw + 0.12rem, 12px);
  
    
}

.shopLink{
  
    padding: 3px 5px;
  
    text-align: center;
    width: 60%;
    height: fit-content;
      
    font-size: clamp(12px, 1.67vw + 0.12rem, 16px);
}

}
