.card{
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-bottom: 2px solid var(--thin-grey);
    height:fit-content;
    position: relative;
 
}

.input{
    margin-right: 10px;
    margin-bottom: auto;
    margin-top: 10px;
}

.container{
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
    margin-bottom: auto;
}

.input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }

  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .container input:checked ~ .checkmark {
    background-color: var(--medium-grey);
 
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container input:checked ~ .checkmark:after {
    display: block;
  }

  .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

  .text{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    position: relative;
  }

  .defaultBox{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
width: 200px;
    gap: 10px;
    margin: 0 auto;;
    
  }

  .defaultTag{
    color: var(--white-pure);
    margin: 0;
  background-color: var(--dark-grey);
    font-size: 14px;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 8px;
    box-sizing: border-box
  
  }

  .defaultTagMobile{
display: none;
  }
  .defaultParag{
    color: var(--light-grey);
    margin: 0;
    font-size: 14px;
    font-weight: 400;
   
  }

.info{
    color: var(--light-grey);
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.mobileIconBox{
    display:flex;
    gap: 20px;
    margin: 10px 0;
    color: var(--light-grey);
    display: none;
}

.buttonBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;

    gap: 20px;
    width:100px
}

.button{
    width: 100%;
    height: 32px;
    color: var(--light-grey);
 
    border: 1px solid var(--light-grey);
    background-color: transparent;
    font-size: 14px;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.lineBox{
    width: 100%;
    position: absolute;
    bottom: 0;
}




.editModal{
    
    height: fit-content;
    width: 100%;
}

.editModalTitle{
    font-size: 16px;
    color: var(--dark-grey);
}

.editIcon{
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

@media (max-width:600px){
    .buttonBox{
        display: none;
    }
    .info{
        font-size: clamp(14px, 4vw + 0.12rem, 18px);
    }
    .mobileIconBox{
        display: flex;
    }
    .icon{
        width: 16px;
        height: 16px;
    }
    
    .defaultBox{
       display: none;
    }

    .defaultTagMobile{
        display: block;
        margin: 0;
        font-size: clamp(14px, 4vw + 0.12rem, 18px);
        border: 2px solid var(--medium-grey);
        padding: 5px 10px;
        color: var(--medium-grey);
        box-sizing:  border-box;
        margin-bottom: 10px;
        border-radius: 8px;
    }


    

  
}

@media (min-width:601px) and (max-width:1023px){
    .info{
        color: var(--light-grey);
        margin: 0;
        font-size: 12px;
        font-weight: 400;
    }

    .buttonBox{
      
        width:80px
    }
    .button{
    
        height: 24px;
      
        font-size: 12px;
       
    
     
    }


    .editModalTitle{
        font-size: 14px;
    }

    .editIcon{
        width: 14px;
        height: 14px;
    }
}



