.box{
    width: 180px;
    width: 90%;
    height: 150px;
    height: 100px;
    height: clamp(100px, 9.58vw + 0.12rem, 150px);
    background-color: var(--thin-grey);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
   transition: all 0.3s ease-in-out;
   box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
   
}

.box:hover{
    background-color: #e1e1e1;
}

.image{
  
    padding: 20px ;
    box-sizing: border-box;
}

@media (max-width:600px){
    .box{
        width:25vw;
        height: 25vw;
    }
    .image{
        padding: 10px;
    }
}

@media (min-width:601px) and (max-width:1023px){
    .box{
        width: 10vw;
        width: 90%;
        height: 10vw;
        height: 80px;
        height: 100px;
        height: clamp(80px, 12.98vw + 0.12rem, 100px);
    }
}