.card{
    width: 60%;
    margin: 0 auto;
   
}

.reviewPostSection{
    margin-bottom: 100px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
   
}

.title{
    color: var(--dark-grey);
}

.parag{
    font-size: 16px;
    color: var(--dark-grey);
}

@media (max-width:600px){
    .card{
        width: 100%;
    }
    .reviewPostSection{
        margin-bottom: 10px;
        box-sizing: border-box;
    }
    .title{
        font-size: clamp(18px, 5.72vw + 0.12rem, 20px)
    }
    .parag{
        font-size: clamp(14px, 4vw + 0.12rem, 16px);
    }
}

@media (min-width:601px) and (max-width:1023px){
    .card{
        width: 60%;
        margin: 0 auto;
    }

    .title{
        font-size: clamp(16px, 2.34vw + 0.12rem, 18px)
    }
    .parag{
        font-size: clamp(12px, 1.67vw + 0.12rem, 16px);
    }
}