.card{
    width: 60%;
    margin: 0 auto;
}

.NotFoundCard{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    color: var(--dark-grey);
}

.parag{
    font-size: 16px;
    color: var(--dark-grey);
}

.icon{
    width: 60px;
    height: 60px;
    color: var(--dark-grey  );
}

@media (max-width:600px){
    .card{
        width: 95%;
    }

    .title{
        margin-top: 0;
        font-size: clamp(18px, 5.72vw + 0.12rem, 20px)
    }
    .parag{
        font-size: clamp(14px, 4vw + 0.12rem, 16px);
    }
}

@media (min-width:601px) and (max-width:1023px){
    .card{
        width: 70%;
    }

    .title{
        font-size: clamp(18px, 2.67vw + 0.12rem, 20px);
    }
    .parag{
        font-size: clamp(14px, 2vw + 0.12rem, 16px);
    }
}