.loginPageCointainer{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1480px;
    width: 100%;
    height: calc(100vh - 100px);
}

@media(min-width:601px) and (max-width:1023px){
    .loginPageCointainer{
        height: fit-content;
        min-height: 70vh;
        padding: 50px 0 ;
        box-sizing: border-box;
    }
}